:root {
  /* Colores*/
  --principal:#012E40;
  --secundario:#024959;
  --terceario:#026773;
  --otro:#F2E3D5;

  --black:#000;
  --white:#fff;

  /* Fuentes */
  --titulo: 'Titillium Web', sans-serif; ;
  --titulo-secundario: 'Nanum Gothic', sans-serif;
  --text: 'Kanit', sans-serif;

}

*{
  margin:0;
  padding:0;
}

.titles{
  font-family: var(--titulo);
}
.text{
  font-family: var(--titulo-secundario);
}
.text-scnd{
  font-family: var(--text);
}
.enlace{
  color:black;
  text-decoration: none;
}
ul{
  list-style: none;
  margin-bottom: 0;
}
li{
  display: inline-block;
}